body{
  width:100%;
  margin:5px;
  padding:20px;
  background-color:#4169e1;
}

#left{
  background-color:black;
  width:25%;
  float:left;
}

#right{
  background-color:white;
  width:25%;
  float:left;
}
