body{
  width:100%;
  margin:5px;
  padding:20px;
  background-color:#4169e1;
}

#left{
  width:25%;
  float:left;
  margin:20px;
  padding:5px;
}

#right{
  width:25%;
  float:left;
  margin:20px;
  padding:5px;
}
